Django==4.2.2
pillow==9.5.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-auth-httplib2==0.1.1
requests==2.31.0
qrcode[pil]==7.4.2
django-colorfield==0.10.0
django-ckeditor-5==0.2.7
django-widget-tweaks==1.5.1
django-location-field==2.1.0
django-bootstrap5==23.4
django-dbbackup==4.1.0
weasyprint==60.2
mercadopago==2.1.0
openpyxl==3.1.2
setuptools>=65.5.0
python-decouple==3.8
whitenoise==6.5.0
gunicorn==21.2.0
lxml==4.9.3
pandas==2.2.2
beautifulsoup4==4.12.3
selenium==4.16.0
django-browser-reload==1.12.1
django-recaptcha==3.0.0