{% extends 'base.html' %}
{% block title %}PEDI TU PREVENTISTA{% endblock %}
{% block content %}
{% load static %}
<div class="container">
    <div class="rounded px-4 py-4 mt-3">
        <div class="rounded shadow fw-medium">
            <div class="row p-0" mx-2>
                <div class="col-sm-10 col-md-6 py-2 px-2 rounded-start bg-danger text-white">
                    <div class="informacion-contacto text-white">
                      <img src="{% static 'img/preventista.png' %}" width="100%"/>
                    </div>
                </div>
                <div class="col-sm-10 col-md-6 py-3 px-3 rounded-end bg-shadow">
                    <form class="needs-validation" novalidate id="formulario" name="form" action="" method="POST">
                        {% csrf_token %}
                        {{ form.media }}
                        <div class="col-12 text-center">
                        <h3>Pedi tu preventista!</h3>
                        </div>
                        <br>
                        <div class="col-sm mb-3" id="form_box">
                          {{ form.nombre }}
                        </div>
                        <div class="col-sm mb-3" id="form_box">
                          {{ form.telefono }}
                        </div>
                        <div class="col-sm mb-3 text-center" id="form_box">
                            <p class="text-dark mb-4">* Ubica tu dirección en el mapa</p>
                            {{ form.ubicacion }}
                        </div>
                        <div class="form-check col-sm mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                Acepto los terminos y condiciones
                            </label>
                            <div class="invalid-feedback">
                                Debe aceptar los terminos antes de enviar.
                            </div>
                        </div>
                        <div class="text-center">
                        <div class="col-sm mb-3" id="form_box">
                            <button class="btn btn-primary" type="submit">ENVIAR</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
